// OFFCANVAS - base
// ================

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: scrollbar;
}

#offcanvas-sidebar {
	width: $offcanvas-sidebar-width;
	height: 100%;
	position: fixed;
	top: 0;
  overflow-x: hidden;
	overflow-y: auto;
	transition: $offcanvas-transition;
}

#page-wrap {
	background: $offcanvas-page-wrap-background;
  transition: $offcanvas-transition;
}
