// OFFCANVAS - navicon
// ===================
// Note: In addition to the code below, the left/right position of the navicon is controlled on a per-option basis.
// See `_options.scss`
// Animated (transforming) navicon is based on http://www.transformicons.com

#offcanvas-navicon {
    position: fixed;
    top: $offcanvas-navicon-inset-top;
    right: 0;
    z-index: $offcanvas-overlay-z-index + 2;
    height: 48px;
    width: 48px;
    padding: 10px 6px;
    background: $offcanvas-navicon-background;
    border-radius: $offcanvas-navicon-border-radius;
    transition: $offcanvas-transition;
    &:after,
    &:before,
    span {
      display: block;
      content: '';
      display: block;
      height: 4px;
      margin: 4px;
      border-radius: 2px;
      background: #000;
			transition: $offcanvas-transition;
    }
    &:hover {
      cursor: pointer;
    }
}

.offcanvas-open #offcanvas-navicon {
    &:before {
			transform: translate3d(0, 8px, 0) rotate(135deg);
    }
    &:after {
			transform: translate3d(0, -8px, 0) rotate(-135deg);
    }
    span {
			transform: scale(0);
    }
}
